<div class="document">
    <vlayout>
        <div slot='title'>
            <h3>v-tab-bs</h3>
        </div>
        <div slot='body'>
            vue tab 组件，简单好用.
        </div>
    </vlayout>
    <vlayout>
        <div slot='title'>
            <h3>v-pagination-bs</h3>
        </div>
        <div slot='body'>
            vue tab 组件，简单好用.
        </div>
    </vlayout>
    <vlayout>
        <div slot='title'>
            <h3>v-modal-bs</h3>
        </div>
        <div slot='body'>
            vue tab 组件，简单好用.
        </div>
    </vlayout>
</div>