<div class="property-wrap">
    <div class="property-header">
        <div class="title">
            <slot name="title"></slot>
        </div>
    </div>
    <div class="property-body">
        <slot name='body'></slot>
    </div>
</div>