<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div style="flex: 1 0 auto;"></div>
            <div style="width: 300px;flex: 0 0 auto;">
                Contacts
                <ul>
                    <li>
                        <a href="javascript:void(0);">yangxiaofupl@163.com</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">indexxuan@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div style="width: 300px;flex: 0 0 auto;">
                Resources
                <ul>
                    <li>
                        <a href="https://github.com/iwaimai-bi-fe/vc-bootstrap">github</a>
                    </li>
                    <li>
                        <a href="https://www.npmjs.com/~yangxiaofu">npm~yangxiaofu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>